<html>
  <head>
    <title>Furmly</title>
    <link rel="stylesheet" href="./styles/index.css" />
    <link href="https://fonts.googleapis.com/css?family=Nunito|Open+Sans&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/6c98686a30.js"></script>
  </head>
  <body>
    <div class="landing">
      <div class="hero">
        <div class="top-container">
          <img src="./images/logo.png" class="logo" alt="" />
          <div class="side-bar"><i class="fas fa-bars"></i></div>
        </div>
        <div class="content-container">
          <h1><%= landing.title %></h1>
          <div class="hero-examples-container">
            <img src="<%= landing.heroImg1%>" alt="configure" />
            <img src="<%= landing.heroImg2%>" alt="results" />
          </div>
          <h3><%= landing.subtitle %></h3>
        </div>

      </div>
      <div class="key-features">
        <% for(let i=0;i<landing.keyFeatures.length;i++){ %>
        <div class="card">
          <!--icon-->
          <i class="<%= landing.keyFeatures[i].icon %>"></i>
          <h5><%=landing.keyFeatures[i].title%></h5>
          <p><%= landing.keyFeatures[i].content%></p>
        </div>
        <% } %>
      </div>
      <div class="other-features">
          <% for(let i=0;i<landing.otherFeatures.length;i++){ %>
              <div class="other-feature">
                <div><h5><%=landing.otherFeatures[i].title%></h5><p><%=landing.otherFeatures[i].content%></p></div>
                <img src="<%=landing.otherFeatures[i].img%>" alt="">
              </div>
              <% } %>
      </div>
    </div>
  </body>
</html>
